{% assign certifications = site.data.data.certifications %}
{% if certifications %}
<section class="certifications">
    <h2 class="title">Certifications</h2>
    {% for cert in certifications %}
        <div class="certification-item">
            <div class="name">
                {{cert.name}}
            </div>
            <div class="organization">
                {{cert.organization}} 
                <span class="time">{{cert.time}}</span>
            </div> 
            <div class="details">{{cert.details}}</div>
        </div>
       
    {% endfor %}
</section>
{% endif %}