{% assign contact = data.contact %}
{% if contact %}
<section class="contact">
    <h2 class="title">{{data.global.contact}}</h2>
    {% if contact.email %}
        <div class="contact-item">
            <span class="mdi mdi-email"></span>
            <a href="mailto:{{contact.email}}">
                {{contact.email}}
            </a>
        </div>
    {% endif %}

    {% if contact.phone %}
        <div class="contact-item">
            <span class="mdi mdi-cellphone"></span>
            <a href="tel:{{contact.phone}}">
                {{contact.phone}}
            </a>
        </div>
        {% endif %}
        
        {% if contact.github %}
        <div class="contact-item">
            <span class="mdi mdi-github"></span>
            <a href="https://github.com/{{contact.github}}" target="_blank">
                {{contact.github}}
            </a>
        </div>
        {% endif %}
        
        {% if contact.linkedin %}
        <div class="contact-item">
            <span class="mdi mdi-linkedin"></span>
            <a href="https://linkedin.com/in/{{contact.linkedin}}" target="_blank">
                {{contact.linkedin}}
            </a>
        </div>
    {% endif %}

</section>
{% endif %}