{% assign skills = data.skills %}
{% if skills %}
<section class="skills">
    {% for sks in skills %}
        <div class="skills-tab">
            <input type="checkbox" id="chck{{forloop.index}}">
            <label class="skills-tab-label" for="chck{{forloop.index}}">
                <h2 class="title">
                    {{sks.category}}
                </h2>
            </label>
            {% for sk in sks.skill%}
            <div class="skills-tab-content">
                {{sk}}
            </div>
            {% endfor %}
        </div>
    {% endfor %}
</section>
{% endif %}