@media screen and (max-width: 1024px) {
    body {
        background-color: var(--bg-color-cv);
    }
    .container {
        // padding:0;
        // margin:0;
        box-shadow: none;
        .container-block {

            .sidebar {
                div {
                    text-align: left;
                }                
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        .container-block {
            display: block;
        }
    }
    .header {
        align-items: flex-start !important;
        flex-direction: column !important;
        .title {
            margin: 0 auto;
        }
        .options {
            margin-top: 10px;
        }
    }
}
