@media screen and (max-width: 1024px) {
    body {
        background-color: var(--bg-color-cv);
    }
    .container {
        // padding:0;
        // margin:0;
        box-shadow: none;
        .container-block {
            .sidebar {
                div {
                    text-align: left;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        .container-block {
            display: block;
        }
    }
    .header {
        align-items: flex-start !important;
        flex-direction: column !important;
        .options {
            margin-top: 10px;
        }
    }
    .skills {
        &-tab {
            &-label {
                &::after {
                    opacity: 1 !important;
                }
            }
            &-content {
                max-height: 0 !important;
            }
            input[type="checkbox"] {
                &:checked {
                    ~ .skills-tab-content {
                        max-height: 100vh !important;
                    }
                }
            }
        }
    }
}
