.languages {
    margin-bottom: 20px;
    .language {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
    .title {
        @include sub-header;
    }
    .idiom  {
        @include body-text;
    }
    .level {
        @include body-text;
        color: var(--fg-color-title-sm);
        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}